/* html {
  scroll-behavior: smooth;
} */
/* img {
  max-width: 100%;
  height: auto;
  display: block;
} 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Serif', serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
[data-theme="light"] {
  --main-bg-col: #faffdc;
  --font-col: black;
}

[data-theme="dark"] {
  --main-bg-col: black;
  --font-col: #faffdc;
}
body {
  --circleX: calc(100% * var(--x));
  --circleY: calc(100% * var(--y));
  background: radial-gradient(ellipse closest-corner at var(--circleX, 50%) var(--circleY, 50%), #ffbff3 15%, var(--main-bg-col) 85%);
}
body::before {
  --cursorX: calc(100vw * var(--x));
  --cursorY: calc(100vh * var(--y));
  content: "";
  position: fixed;
  border-radius: 30px;
  inline-size: 50px;
  block-size: 50px;
  background: #ffbff3;
  display: block;
  translate: var(--cursorX, 0) var(--cursorY, 0);
  transform: translate(-50%, -50%);
}
/* fonte */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  text-transform: uppercase;
  color: var(--font-col);
}
.italicfont {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 80px;
  text-transform: uppercase;
  color: var(--font-col);
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--font-col);
}
h4 {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--font-col);
}
p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: var(--font-col);
}
body {
  background-color: var(--main-bg-col);
}
a {
  cursor: pointer;
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}
.color_switch {
  cursor: pointer;
}
/* section 1 */
.section1 {
  display: grid;
  margin: 100px;
  grid-template-columns: 1fr 1fr;
}
.section1 p {
  margin-top: 30px;
  margin-bottom: 30px;
}
.portraet {
  width: 300px;
  height: 640px;
  margin-bottom: 60px;
}

/* section 2 */
.vertical {
  transform: rotate(-90deg);
}
.section2 {
  margin-top: 150px;
  margin-left: 350px;
  display: flex;
}
div.image-container {
  background-color: transparent;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
div.image-container img {
  padding: 10px;
  width: 550px;
  height: 360px;
}
div.image-container img:hover {
  padding: 10px;
  width: 550px;
  height: 360px;
  border-radius: 130px;
}
/* section3
.section3 {
  margin: 150px;
}
.section3 h3 {
  color: var(--font-col);
  font-style: italic;
} */

/* cards/section4 */
.section4 {
  margin: 150px;
}
.section4 h3 {
  color: var(--font-col);
  margin-bottom: 30px;
  font-style: italic;
}
.section4 h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #faffdc;
}
.section4 p {
  color: #faffdc;
}
.cards {
  display: flex;
}
.card1 {
  padding: 40px;
  background-color: #ffbff3;
  color: #faffdc;
  width: 350px;
  height: 210px;
  justify-self: center;
  place-self: center;
}
.card2 {
  padding: 40px;
  background-color: #5a3fff;
  color: #faffdc;
  width: 350px;
  height: 210px;
  justify-self: center;
  place-self: center;
}
.card3 {
  padding: 40px;
  background-color: #b0c900;
  color: #faffdc;
  width: 350px;
  height: 210px;
  justify-self: center;
  place-self: center;
}
.card1:hover,
.card2:hover,
.card3:hover {
  border-radius: 130px;
}
/* Footer */
footer {
  display: flex;
  margin: 50px;
  justify-content: space-evenly;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 20px;
  text-transform: uppercase;
  color: #b0c900;
  text-decoration: none;
}
footer a:hover {
  color: #5a3fff;
  text-decoration: underline;
  font-size: 22px;
}
